
body{
    background-color: azure;
    color: black;

    font-size: 16px ;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif
 }
 a{
  color: #000;
  text-decoration: none;
 }

 a:hover{
  text-decoration:line-through  ;
 }

 a:active{
color: aqua;
 }

 a:visited{
  color: blueviolet;
 }

 .avatar{
  width: 200px;
  border-radius: 32px;
  box-shadow: 6px 6px 16px rgb(148, 224, 162);
  }

  .info{
    margin-bottom: 20px;
  }

 .bg-yellow{
  background: rgb(206, 223, 171);
 }

 .bg-green{
  background: rgb(148, 224, 162);
 }

 .bg-blue{
  background: rgb(197, 233, 233);
 }

 .bg-pink{
  background: rgb(234, 207, 235);
 }

 .card{
  padding: 19px 30px;
  margin-bottom: 25px;
  border-radius: 30px;
 }
