
body{
    background-color: azure;
    color: black;

    font-size: 16px ;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.avatar{
width: 400;
border-radius: 29px;
box-shadow: 6px 5px 18px rgb(203, 60, 49);
}

.info p{
  color: rgb(79, 152, 152);
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 0ex;
}

