
body{
    background-color: azure;
    color: black;

    font-size: 16px ;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif
 }
 a{
  color: #000;
  text-decoration: none;
 }

 a:hover{
  text-decoration:line-through  ;
 }

 a:active{
color: aqua;
 }

 a:visited{
  color: blueviolet;
 }

 .avatar{
  width: 250px;
  border-radius: 42px;
  box-shadow: 16px 16px 56px rgb(4, 226, 45);
  }

  .info{
    margin-bottom: 20px;
  }

  .bg-orange{
    background: rgba(218, 196, 139, 0.896);
   }

   .bg-red{
    background: rgba(54, 156, 67, 0.39);
   }

 .bg-yellow{
  background: rgb(206, 223, 171);
 }

 .bg-green{
  background: rgb(148, 224, 162);
 }

 .bg-blue{
  background: rgb(197, 233, 233);
 }

 .bg-pink{
  background: rgb(234, 207, 235);
 }

 .card{
  padding: 19px 30px;
  margin-bottom: 25px;
  border-radius: 30px;
 }

 .card h2{
  margin-bottom: 15px;
 }

 .list{
  padding: 0 20px;
 }

 .list li{
  color: rgb(153, 38, 174);
  margin-bottom: 10px;
  border-bottom: 1px solid greenyellow;
 }

 .table {
  width: 100%;
 }

 .table td{
  padding-bottom: 10px;

 }

 .table td:nth-child(2),
 .table td:nth-child(3){
color: rgba(139, 53, 0, 0.53);
 }

 .table:nth-child(even){
  background: rgba(0, 77, 128, 0.563);
 }
 /*
 *{
  padding: 0px;
  margin: 0px;
 }
 \*


